[2020-05-28 13:54] FilippoProjetto opened #4 "Vlan ip range: specify pod"
**Feature request**
It should be possible to specify the pod while creating a vlan ip range.

Reference: http://cloudstack.apache.org/api/apidocs-4.14/apis/createVlanIpRange.html

**Current behaviour**
It's not possible to specify the pod.

**Desired behaviour**
[code]
**Environment**
Running the version of the module provided with ansible 2.9.6.

[2020-05-28 14:16] FilippoProjetto opened #5 "Network offering: set default network offering"
**Expected behaviour**
It should be possible to create a CloudStack network with a default network offering when a zone uses basic networking.

**Current behaviour**
It fails with error: `Network offering 'DefaultSharedNetworkOffering' not found`
[code]
**Possible solution**

Modify the [get_network_offering](https://github.com/ngine-io/ansible-collection-cloudstack/blob/b96bdb5c67fc94189927598043

[2020-06-09 13:49] resmo commented on #5
Thanks for reporting this issue. Seems you already have a fix in place, may I ask you to make a PR with the fix?

[2020-06-20 07:40] FilippoProjetto commented on #5
Sure. I need to add an integration test for it and I will make a PR.

[2020-08-05 20:47] felixfontein opened #14 "Inclusion of ngine_io.cloudstack in Ansible 2.10"
This collection will be included in Ansible 2.10 because it contains modules and/or plugins that were included in Ansible 2.9. Please review:

* The list of requirements for inclusion in Ansible: https://github.com/ansible-collections/overview/blob/master/collection_requirements.rst
* The roadmap with all important dates for Ansible 2.10: https://github.com/ansible/ansible/blob/devel/docs/docsite/

[2020-08-08 09:59] rvalle opened #15 "cs_vlan_ip_range and system vms"
It is currently (ansible 2.9.11) not possible to specify whether the IP range is specific for System VMs, which is an option of the ACS API.

[2020-08-08 10:13] rvalle opened #16 "Username/Password authentication"
Hi

I am trying to get a fully automated ACS deployment.

I use playbooks to install ACS and then I continue with these modules to configure ACS.

There is a missing link in the right in the middle.

I need an automated way to configure the credentials (API Token) for Ansible modules to work.

Is it possible to use username/password authentication in these Ansible Modules? CMK can handle either us

[2020-08-08 13:40] resmo commented on #16
Hi @rvalle

The api library used (https://github.com/exoscale/cs) in the modules does not allow to auth with username and password (AFAICS). However, the way I we do in the cloustack test container (to test the modules against the simulator api) is to use the internal API which allows unauthenticated api calls on localhost:8096.

To get an idea see https://github.com/ansible/cloudstack-test-contai

[2020-08-09 05:54] rvalle commented on #16
@resmo my current workaround is to install cloudmonkey and do it with it, but since it is not packaged is a bit messy.

I did not realize that cs has a CLI, that helps.

Perhaps we could allow usage of the modules on the unauthenticated endpoint for edge use cases like this one? what do you think?

https://github.com/ngine-io/ansible-collection-cloudstack/blob/8b4e8c61890927dd11b3b31fefd9bad4ba544

[2020-08-09 07:50] resmo commented on #16
Yes, perhaps.

I found it good enough for this special case to use dummy values for secret and key since as they are not validated by the internal API.

[2020-08-09 07:52] resmo commented on #15
Make sense, do you like to provide a patch?

[2020-08-09 07:52] resmo commented on #4
Make sense, do you like to provide a patch?

[2020-08-10 06:17] rvalle commented on #16
OK, I see. I did not think of that. So, this use case was supported, after all.
Would be useful to document it.

Document or we could allow a setting such as:

[code]
which simply disables the check for TOKEN, and defaults to true.
Its more of less the same but would produce self documented playbooks, and it is actually a feature:

something like:

[code]

If you want this I can submit a PR...

[2020-08-10 06:40] rvalle commented on #15
sure...

[2020-08-10 07:57] resmo commented on #5
Hi @FilippoProjetto, if you want to get this in 2.10, the fix should be made before 18th of august.

[2020-08-12 11:08] rvalle opened #17 "ansible collection devenv and tests not passing"
Hi,

I am trying to setup my dev environment before contributing here.
One question outstanding is how to test these modules now that they are not part of ansible.
There is a relevant discussion here: https://github.com/ansible/ansible/issues/60215

But I got tests to start working by setting my repo in a special directory, cloning at:
[code]
It seems to be required to move/rename the repository s

[2020-08-12 12:38] rvalle commented on #14
@resmo this might reply some of the questions of #17

[2020-08-12 12:45] felixfontein commented on #17
@rvalle the common reason for such problems is that ignore-2.9.txt is out of date since 2.9's ansible-test isn't used for sanity tests. @resmo are you running tests only with ansible-test from devel, or also from stable-2.10 and/or stable-2.9? (Since ignore-2.10.txt looks very similarly to ignore-2.9.txt, I guess it also hasn't been updated. Since ignore-2.11.txt isn't there I guess all actual pro

[2020-08-12 13:18] rvalle commented on #17
I am using ansible-base instead of ansible 2.9.
Sanity and Unit tests have some failures I guess related to the migration deadline #14
Integration tests seem to work as expected, with only some (ignored) failures, which I assume are WIP or similar.

[2020-08-15 19:46] #15 closed

[2020-08-15 19:52] resmo commented on #17
this is fixed by #19

[2020-08-15 19:52] #17 closed

[2020-08-15 20:14] #4 closed

[2020-08-15 23:22] #14 closed

[2020-08-17 16:44] onitake opened #23 "CloudStack modules are missing functionality to create volume snapshots"
##### SUMMARY

Migrated from: https://github.com/ansible/ansible/issues/53264

There is currently no CloudStack module that can create volume snapshots.

The cs_volume module has a `snapshot` parameter, but apparently, it's only used to create a new volume from a snapshot.

I request a full-featured `cs_volumesnapshot` module that wraps the API calls:
- createSnapshot
- createSnapshotFromVMSnapsho

[2020-08-24 14:46] rvalle opened #24 "Idenpotency not working with secondary storage proxy global parameter"
For some reason ansible is reporting that the following:

[code]

Is always changing, even when it is not.

Since global parameters require restarting the manager, it is a bit annoying.

It is strange because other global configuration parameters work as expected.

[2020-08-24 15:37] resmo commented on #24
cloud you provide more details e.g. running it in with `-v` to see the returns?

[2020-08-25 07:39] rvalle commented on #24
ok! I see now.

A change is always reported when the value is "".

but at the same time, is "" a valid value?

[2020-08-25 09:02] dpassante commented on #24
The Cloudstack API doesn't return the `value` arg when it is empty for the configuration item.
So if the requested value is an empty string, the module will always report a change.
Anyway, "" is a valid value which will overwrite any previous value.

[2020-08-25 09:16] rvalle commented on #24
this is now too edge for me to be an issue.
I did not notice the empty value before.

Unless anyone wants to fix anything, I think this can just be a known issue.

[2020-08-25 09:17] resmo commented on #24
Ok, thanks for this clarification, could we workaround this by looking at the no value arg returned then default to emtpy value?

[2020-08-25 09:19] dpassante commented on #24
[code]
?

[2020-08-25 09:26] resmo commented on #24
reopen for workaround api limitation

[2020-08-25 09:35] rvalle commented on #24
@resmo great!

[2020-08-25 11:16] resmo commented on #24
@rvalle please verify the patch.

[2020-08-25 11:43] resmo opened #26 "new style inventory plugin"
create a new style inventory plugin for virtual machines and routers

[2020-08-25 14:15] #24 closed

[2020-08-30 05:13] rvalle opened #28 "Upload Custom Certificate"
Hi

I continue creating playbooks to install and provision cloudstack with ansible from the ground up.

In order to properly setup the console and second storage proxy it is necessary to:

http://cloudstack.apache.org/api/apidocs-4.14/apis/uploadCustomCertificate.html

Calls for which there is no ansible module. Reverting to CMK is not working either because of: https://github.com/apache/cloudstac

[2020-08-30 05:35] rvalle commented on #24
@resmo yes I can confirm the patch fixes my case

[code]

[2020-09-10 15:20] rvalle opened #30 "Picking a particular IP address for a Network"
When using the UI it is possible to select a particular IP to acquire for a Virtual Network.

I have tried to replicate the same functionality with the cs_ip_address module, but it does not work. The documentation states that the IP address is required for the release functionality, and I guess that it is being ignored on acquisition.

For example, consider 123.123.123.123 a public IP address asso

[2020-09-10 16:04] rvalle commented on #30
mmmm, now it seems to be working.
I wonder how I tested this before.
@resmo is this functionality supposed to be implemented?

[2020-09-10 16:15] resmo commented on #30
it should but I have just verified that we don't have a integration test for that particular example.

[2020-09-10 16:22] resmo commented on #30
I verified in code and I confirm, this isn't implemented, it seems `ipaddress` field was added after this implementation.

https://cloudstack.apache.org/api/apidocs-4.9/apis/associateIpAddress.html
https://cloudstack.apache.org/api/apidocs-4.14/apis/associateIpAddress.html

[2020-09-10 17:58] rvalle commented on #30
I think it is at least partially implemented.

Because when it happens to give the right IP will not try to assign another IP on subsequent calls.

I can implement the test case and fix it, if u want.

[2020-09-11 07:11] rvalle commented on #30
When my testing failed a new IP got acquired on each call. Now there is idempotency in the calls.
Anyway, I am going to start by implementing the failing test.
@resmo would be good that check that the other use cases are also tested, as I don't want to introduce regressions, and I am not that familiar with ACS yet.

[2020-09-11 07:33] resmo opened #32 "Streamline simulator image to latest cloudstack release"
the integration tests run on an simulator image with cloudstack 4.11.

Container image repo https://github.com/ansible/cloudstack-test-container

[2020-09-12 08:33] rvalle opened #35 "Port Forwarding for VPC not working for first rule"
Hi

I am trying to build an VPC from the ground up with ansible.

I am having trouble when trying to forward (i believe) the first port.

I get this message:

[code]

I don't know what the source of the issue is, but after creating the first port forward with the web console my playbook works.

[2020-09-12 11:50] rvalle commented on #32
Which version should that be? 4.13 LTS or 4.14?

[2020-09-12 16:32] resmo commented on #32
I prefer LTS because this is what most users use in production.

[2020-09-12 16:33] #30 closed

[2020-09-13 05:34] rvalle commented on #35
ok, I can see how the VPCs work.

If fact there is an "implied" tier assignment operation on first use of the IP. Once a port is forwarded the ip is assigned to a given tier.

looks like, in fact, the first port assignment logic is different.

[2020-09-13 06:27] rvalle commented on #35
I have traced what the UI does and in the call a networkId is passed.

I guess the network Id is the one corresponding to the network created matching the tier in which the VM is.

mmm this is a network whose name matches the VPC tier and this module also takes a network parameter.

So, I just tested to specify both the VPC and the name of the tier as network, which matches the isolated network na

[2020-09-18 09:00] rvalle opened #37 "Documentation: Custom disk size and instances"
I think the documentation is wrong with regards to custom disk sizes.

In cs disk offering:

customized description is  "Whether the offering uses custom IOPS or not" but after looking at API and resting it, I think it should "Whether disk offering size is custom or not"

In cs instance:

disk_size  "Disk size in GByte required if deploying instance from ISO" but after testing it I think this is j

[2020-09-23 10:54] rvalle commented on #35
@resmo, I don't think we need any other thing done here.

[2020-09-23 10:54] #35 closed

[2020-09-23 10:56] rvalle opened #38 "Missing Modules for Creating Remote Access VPN and VPN Users"
Is this implemented?

I can see site-site VPN, but not remote access VPN and its users.

Remove VPN users seem to be unrelated to ACS account users.

[2020-09-23 11:00] rvalle opened #39 "Missing Module: VPC private gateway."
Is this functionality implemented?

I guess is similar to cs_vpn_customer_gateway, but for a physical connection.

[2020-10-14 11:54] rvalle opened #41 "Multiple CIDRs not working in VPC ACLs"
ACLs break if they specify multiple CIDRs, at least for Egress rules on VPCs
I can see in the UI that they are posted with several CIDRs separated by commas

When I add the second CIDR, the ACL breaks.

I am not sure if this is an Ansible module issue or an ACS, could be related to: https://github.com/apache/cloudstack/issues/4402

I have checked the API and it takes a list. I am not sure if we ar

[2020-10-14 12:18] resmo commented on #41
I fixed this some time ago for some modules e.g. for `cs_firewall` https://github.com/ngine-io/ansible-collection-cloudstack/blob/master/plugins/modules/cs_firewall.py#L49

[2020-10-14 13:12] rvalle commented on #41
Our tests pass because the ACS Management server accepts the calls.

However, the problem is that the ACLs are not translated into VR Rules that actually work.

[2020-10-14 13:25] resmo commented on #41
I would say so, yes.

[2020-10-21 12:27] ngrosc opened #42 "list current used public IPs"
Hi

We are currently migrating some jobs from terraform to ansible using this collection. We have the situation, where we want to create the following "objects" in cloudstack:
- a network
- an instance
- a fw rule for the created network
- some nat/pat entries for the created network

creating the network (based on the default template DefaultIsolatedNetworkOfferingWithSourceNatService), an instan

[2020-10-21 13:46] ngrosc commented on #42
Hi Rafel

Yes that's working, somehow I missed this approach..
But regarding to deleting such a VM again:
Now I'm still lost, because when I run the task again, I get an additional
IP.

Do you know a way, to delete the public IP assigned to a network without
knowing it?
Or a way to get the public IP from the network, then it would be also quite
easy..

Am Mi., 21. Okt. 2020 um 15:01 Uhr schrieb Ra

[2020-10-21 14:13] resmo commented on #42
Please read the docs: https://docs.ansible.com/ansible/latest/collections/ngine_io/cloudstack/cs_ip_address_module.html and examples!

Use `when: ` or use a tag as identtifier:

[code]

[2020-10-22 06:35] ngrosc commented on #42
Hi René

Yes, I read it and was aware of this "issue". My issue is not the creating
part but the one for deleting the ip address when I know only the instance
or network name.
Or lets say, the network, public ip and instance creation were successful,
but then somehow the playbook stopped before finishing the port translation
creation.

How can I know restart the same script and figure out, if ther

[2020-10-22 06:42] rvalle commented on #42
@ngrosc have you tried with the unique name?

I don't use this functionality, but I understand that the assignment would then be idempotent, meaning, the same IP as already assigned would be selected which would result in non-change of the assignment operation. Still you would get the Actual Public IP in the registered variable and your play would continue...

did you try with Unique name as tag?

[2020-10-22 07:47] resmo commented on #42
This is really basic ansible: No need to figure it out. Remember, idempotency. In theory, each time you run the playbook you should get to the same state no mater in what state it was before.

[2020-11-22 22:49] resmo commented on #42
closing due to inactivity. feel free to join us on cloudstack user mailing list for questions.

[2020-11-22 22:49] #42 closed

[2020-11-22 22:51] resmo commented on #32
fixed with be2a0493f14bbc8fface5e3c1d21ae4ad462d78b

[2020-11-22 22:52] #32 closed

[2020-11-23 08:09] resmo commented on #37
The doc is correct, with templates it is the size of the data disks, with iso, it is the size of the root disk.

[2020-11-23 08:09] #37 closed

[2020-11-26 15:36] rvalle commented on #26
I am happy to help.

[2020-11-26 15:39] rvalle commented on #26
I would also like that the inventory plug-in would be able to get the credentials from the vault. But I don't know if that is possible.

I would also like to implement a grouping mechanism, perhaps using VM labels.

@resmo has you thought about it?

Of course we can also export whatever metadata we have from cloudstack as inventory variables (namespaced).

[2020-11-26 15:47] resmo commented on #26
When implemented correctly, grouping by any key is just built-in with dynamic inventory.

as an example in vultr, the api returns a `region: Amsterdam` and with a keyed group you can group by that region key: e.g. to group of `vultr_region_amsterdam` with all VMs in it and so on.
[code]

[2020-11-26 16:02] rvalle commented on #26
Yes I am looking at the docs, and samples and how other did.

Allowing for selecting how to group hosts sounds like a good idea. I have also noticed that some plug-ins allow to select that actual hostname to use: IP address, or otherwise.

I was thinking that it would also be nice to be able to filter. Perhaps the obvious choice would be to restrict the inventory to a particular project only (opti

[2020-11-26 16:20] resmo commented on #26
allowing to filter based on zone and project would be nice indeed.

[2020-12-02 10:50] rvalle opened #45 "Cross Zone Template Registration getting warning"
I am getting a warning for the following snippet:

[code]

The new warning introduced related to zone:
[code]

While it is possible to install a template to a particular zone, I have used the cross-zone option which AFAIR will install in all.

Looks like there seems to be code to stablish the default zone anyway or something and it triggers the warning

[2020-12-02 11:04] resmo commented on #45
your assumption is corresponding with mine. I'll have a look

[2020-12-02 11:04] rvalle commented on #45
On the other hand I am also thinking that perhaps to check if the template has been extracted "cross_zone" has no effect.

and a zone is going to be used anyway, as different zones might be at different extracting point.

I am following the code, and I don't see any special treatment to this case...

[2020-12-02 11:06] rvalle commented on #45
cross_zones is not been passed in the manager call

[code]

so looks like it is checking for extraction in one particular zone.

[2020-12-02 11:08] rvalle commented on #45
not sure if this is a limitation for the manager or... an implementation issue with the module. thou.

[2020-12-02 11:14] rvalle commented on #45
mmmm I checked the manager API, and for register template zone=-1 is registered as value for cross-zone registration,

however, with extract there is no equivalent documentation: I would bet that passing -1 to zone in extraction would not do anything, or otherwise a complex result should come back, like percentage of extraction per zone etc.

Will check later, but it looks like extract template ca

[2020-12-02 12:19] resmo commented on #45
Okay, I would suggest to throw an error if `cross_zone` is used for `state=extraced`, your opinion @rvalle ?

[2020-12-02 12:30] rvalle commented on #45
I will do it, and PR. I am just going to review the underlying calls to be 100% that there is not such an implementation.

[2020-12-03 09:33] #45 closed

[2020-12-03 10:13] rvalle opened #47 "Associating an IP with Tags to a Network."
I am having trouble with cs_ip_address and custom ID

[code]

I was under the assumption that the previous statement would do 2 things: assign an IP to My Network and tag it for future reference. Is that assumption correct?

I am not managing to use this module to assign a random public IP to a network in an idempotent way.

[2020-12-03 10:54] rvalle commented on #47
arrrrghhhh, the problem is that I wrongly copied YAML from the sample in the documentation.

both Key and Value have a dash with is wrong.

It must be like this:

[code]

spot the difference?

[2020-12-06 07:01] rvalle commented on #47
the minor doc typo was fixed in #48

[2020-12-06 07:01] #47 closed

[2020-12-08 10:10] rvalle commented on #26
great. working on it this week.

did you do integration test on the vultr plugin? trying to workout how to add tests to inventory plugins...

[2020-12-08 10:19] rvalle commented on #26
AWS ec2 inventory is tested like this:
https://github.com/ansible-collections/amazon.aws/tree/main/tests/integration/targets/inventory_aws_ec2
They have a shell script as alternative entrypoint...

[2020-12-09 07:49] rvalle commented on #26
yes... inventory tests are now called. It is very confusing that part of the testing infrastructure of the collection still ships into ansible and not in the collection itself. @resmo perhaps you should tell the core team.

[2020-12-10 12:02] jespada opened #50 "Instance creation(cs_instance) fail for templates with no description(displaytext)"
- PR https://github.com/ngine-io/ansible-collection-cloudstack/pull/49 fix this issue

[2020-12-10 16:15] rvalle opened #51 "Configuration at module level is broken"
cloudstack modules can be configured via 3 diferent ways

- environment variables
- cloudstack ini files
- module supplied parameters

If environment parameters are not supplied ini search path will kick in. A SystemExit exception is raised if no ini file is supplied.

The code responsible for reading configuration from modules is unreachable if no ini file is present.

Therefore using a cloudstac

[2021-01-22 10:24] rvalle opened #59 "Deprecate cloudstack.ini configuration"
As discussed,

We can use the introduction of Ansible 3 to make this backward uncompatible change

[2021-01-22 10:26] rvalle commented on #59
@resmo shall we say that:

- **v1.2.x** will require Ansible 3.x
- **v1.1.x** remaining as Ansible 2.x support

[2021-01-22 10:36] rvalle opened #60 "Deprecate default zone"
Since the introduction of UI sorting features in ACS the underlying zone API became unreliable.

Commit https://github.com/ngine-io/ansible-collection-cloudstack/commit/be2a0493f14bbc8fface5e3c1d21ae4ad462d78b addressed the issue by encouraging users to provide a zone parameter through a deprecation warning.

The default zone should be deprecated with the upcoming Ansible 3 release support, since

[2021-01-28 09:01] rvalle commented on #16
@resmo any idea how to get that port working on the manager?

I can find a reference in the documentation for manager HA. but in my install the port is not up.

[2021-01-28 09:18] rvalle commented on #16
I can see here: https://github.com/apache/cloudstack/pull/3504 that the port ships disabled with global configuration:

[code]
but I wonder if I can override its value without using the API

[2021-02-02 17:17] resmo commented on #60
fixed by #62

[2021-02-02 17:17] #60 closed

[2021-02-02 18:31] resmo commented on #59
fixed by #64

[2021-02-02 18:31] #59 closed

[2021-02-02 18:31] resmo commented on #50
fixed by #49

[2021-02-02 18:31] #50 closed

[2021-02-02 18:32] resmo commented on #51
related #64

[2021-02-03 11:58] rvalle commented on #51
#64 has fixed this issue.

[2021-02-03 11:58] #51 closed

[2021-03-14 23:53] sarabarora opened #67 "Add Account to Project Module"
Hi,

Trying to code our existing cloud stack environment into ansible for better management. Noticed that there's no module to add the accounts to the projects. The existing module 'cs_project' works well for new projects but when try to add another user to the project, get the following error

`    "msg": "CloudStackException: HTTP 431 response from CloudStack, error: {'uuidList': [], 'errorcode'

[2021-03-15 09:05] rvalle commented on #67
@sarabarora do you need to add the users to the project of to the account?

I thought users are in fact using the account they belong to....

would that mean that:

user --> account --> project

let me review my playbooks, I think I did not find that limitation.

[2021-03-15 09:12] resmo commented on #67
API
* https://cloudstack.apache.org/api/apidocs-4.15/apis/addUserToProject.html
* https://cloudstack.apache.org/api/apidocs-4.15/apis/deleteUserFromProject.html
Did not find the API to list user of a project yet

[2021-03-15 09:15] rvalle commented on #67
@resmo in the UI 4.15 I can see that it is possible to add an account to a project or an account/user to a project.

it looks to me that the purpose is to assign thing grained project roles to that particular user.

But then there is project role creation with specific api method enablement.

I dont think there is an ansible implementation for that is there?

[2021-03-15 09:20] rvalle commented on #67
I think it is: listProjectAccounts with a particular userId

[2021-03-15 09:22] resmo commented on #67
Hmm expensive thing to make an separate api call per user to find the projects. Would be nice the have a thing like `listProjectUsers` with a project_id,

[2021-03-15 09:25] rvalle commented on #67
I was not aware this functionality existed in this way.

When I add users to accounts they inherit the role of the account. The createUser API can provide an account, but no role.

However, in project context, it is possible. to add: account/user/project role.

[2021-03-15 09:32] rvalle commented on #67
yes, this looks very strange, perhaps leaving the userId empty returns all, but then the returned data does not show userId listed. It does not make sense.

This would require implementing cs_project_role and cs_project_role_permission modules.

@sarabarora you cannot code your existing environment without those, right?

[2021-03-15 09:37] rvalle commented on #67
@resmo, I think what is happening is that `listProjectAccounts` returns the `userId` in the `owner` field. My guess is that not providing `userId` in the call will return all in one  go.

[2021-03-16 16:20] loth opened #68 "List instances by host"
I'm trying to list instances on a specific host, I don't believe this is possible but It should be relatively simple since listVirtualMachines takes a hostid or am I wrong?

[2021-03-17 15:05] resmo opened #70 "CI volume upload fails"
TASK [cs_volume : test upload volume] ******************************************
fatal: [testhost]: FAILED! => {"api_http_method": "get", "api_key": "s7T2jkUw4lZNJd8d3931KuCDYcSS0TtbFDTZR-DQoL9-3jn_11UqE1LekwGXzPJLx87xF7nU-fi5yZzpDkOpIw", "api_timeout": 60, "api_url": "http://cloudstack-sim:8888/client/api", "api_verify_ssl_cert": null, "changed": true, "msg": "Failed: 'Invalid URL: http://dl.open

[2021-03-17 21:50] resmo commented on #70
fixed with https://github.com/ansible/ansible/pull/73943

[2021-03-17 22:27] mattclay commented on #70
@resmo It doesn't look like the issue has been fixed in this collection -- only in the ansible/ansible repo.

[2021-03-17 22:42] resmo commented on #70
@mattclay of course not. my bad

[2021-03-18 10:17] resmo commented on #70
fixed by #71

[2021-03-18 10:17] #70 closed

[2021-04-09 14:23] #26 closed

[2021-06-10 09:37] rvalle commented on #41
Lets close this issue as this is in fact an ACS issue by not meeting its own specification.

[2021-06-10 09:37] #41 closed

[2021-06-23 00:04] nathanmcgarvey opened #76 "Missing argument for cs_firewall: destcidrlist"
There is an argument to the "createEgressFirewallRule" api call named "destcidrlist". (Ref: https://cloudstack.apache.org/api/apidocs-4.15/apis/createEgressFirewallRule.html)

It seems that this was omitted from the cs_firewall module, or that that module wasn't updated to include destcidrlist when cloudstack 4.10 was released. (https://docs.cloudstack.apache.org/projects/archived-cloudstack-relea

[2021-07-09 23:41] div8cn opened #77 "cs_network_offering does not support tags"
cs_network_offering lacks tags support

He is useful in the case of multiple guest networks

[2021-07-21 10:35] jdinner opened #78 "cs_instance - ip_to_networks does not support mac address"
Hello,
I need for my project set MAC address. From [Apache CloudStack API documentation ](https://cloudstack.apache.org/api/apidocs-4.15/apis/deployVirtualMachine.html) I read:
_iptonetworklist | ip  to network mapping. Can't be specified with networkIds parameter.  Example:  iptonetworklist[0].ip=10.10.10.11&iptonetworklist[0].ipv6=fc00:1234:5678::abcd&iptonetworklist[0].networkid=uuid&**iptonetw

[2021-07-22 19:18] rvalle commented on #78
hi @jdinner, what is your use case?

Is it for L2 networks?

I am not completely sure if the mac address can be set for all network providers, I am actually interested in setting up the mac address for virtual routers, but I am not sure it is possible.

This project certainly accepts pull requests.

[2021-08-06 18:22] livegrenier opened #79 "cs_instance - unable to deploy a new instance with custom service offerings"
Hello,

I am seeing a error when trying to use a custom service offering with the following parameters:

cpu: 1
cpu_speed: 1000
memory: 2048

If i use a offering that has the CPU/memory already defined i do not have the below error.

**Error**:

[code]
I believe the issue has something to do with this function:
https://github.com/resmo/ansible-cloudstack/blob/master/cs_instance.py#L1186

For addit

[2021-08-08 20:38] resmo commented on #79
Thanks for reporting in detail, I was able to identify the problem: https://github.com/ngine-io/ansible-collection-cloudstack/blob/e6e11e4f58ab965ef4e41bd2f4365cd9e329182e/plugins/modules/cs_instance.py#L698

[2021-08-08 20:45] resmo commented on #76
@nathanmcgarvey this should already work:

[code]
or

[code]

could you confirm?

[2021-08-08 20:51] resmo commented on #68
@loth hi yes, should be easy to implement in `cs_instance_info` module

[2021-08-09 06:24] resmo commented on #5
@filippoprojetto anything I can help you with?

[2021-08-09 15:17] nathanmcgarvey commented on #76
@resmo I think your example works for ingress rules, but not when doing egress rules.  E.g:

- name: Allow only HTTP outbound traffic for an IP
  ngine_io.cloudstack.cs_firewall:
    network: my_network
    zone: zone01
    type: egress
    port: 80
    cidr: 10.101.1.20

That example from the source code allows for the egress from 10.101.1.20 **to any destination subnet**. If you want to limit th

[2021-08-11 05:58] resmo commented on #79
Fixed by #80

[2021-08-11 07:33] resmo commented on #78
closed by #81

[2021-08-11 13:20] resmo commented on #77
closed by #82

[2021-08-11 16:07] resmo commented on #68
Resolved by #83

[2021-08-11 16:37] resmo commented on #76
resolved by #84

[2021-08-12 16:46] div8cn opened #85 "cs_host.password does not support special characters"
When adding a KVM compute node to cloudstack using cs_host,
If password contains special characters, it will fail

E.g:
password=Of4N~H$JP9

[2021-08-12 21:16] resmo commented on #85
have you tried with single quotes?
[code]

[2021-08-15 07:27] #77 closed

[2021-08-15 09:56] #68 closed

[2021-08-15 10:31] #79 closed

[2021-08-15 10:32] #78 closed

[2021-08-17 06:05] jdinner commented on #78
Sorry about writting into closed issue. I want only response: My use case is: I need VM with predefined MAC address because of software license I need to use, is released for a certain MAC address. Ansible should spawn VM, install SW and after work expunge this VM (second playbook).

[2021-08-28 01:00] div8cn commented on #85
cloudstack 4.15.0.0

error message:
2021-08-26 22:42:17,515 INFO  [c.c.a.ApiServer] (qtp817978763-20:ctx-84253c6c ctx-7f7f9794) (logid:2e4adf34) User signature: Hy3uPwJG5O79EPOO9F0psV1Evp4= is not equaled to computed signature: eowQnVBcttscGOaG2hVaVvs36Xw=

[2021-09-17 14:04] PaulAngus commented on #28
@resmo
a custom cert upload module would be good, as using cmk requires the creation of the ~/.cmk/config file with api/secret keys in it.   Obviously it can be removed after use,  but it posses a small security threat when it exists, and as we change certs regularly for security, it kinda goes against what we're trying to do....

[2021-09-25 12:22] resmo commented on #85
@div8cn Thanks, investigating.

[2022-01-26 09:36] Andersson007 opened #93 "Important information for collection maintainers"
##### SUMMARY
Dear maintainers,

This is important for your collections!

- In accordance with the [Community decision](https://github.com/ansible-community/community-topics/issues/51), we have created the [news-for-maintainers](https://github.com/ansible-collections/news-for-maintainers) repository for announcements of changes impacting collection maintainers (see the [examples](https://github.co

[2022-02-08 23:42] John222 opened #95 "Module cs_sshkeypair throws error CloudStackException: JSON (application/json) was expected, got 'text/html; charset=utf-8'"
Hello guys

we found an issue with the ngine_io.cloudstack.cs_sshkeypair module. When we trying to use it, it throws the following error.

[code]

as API URL we entered ```https://api.exoscale.ch```. We also tried with the url ```https://api.exoscale.com```.

Looks like exoscale changed the required header, which needs to be passed to the requests.

[2022-02-09 08:06] resmo commented on #95
Hi @John222

You got an unexpected html response from the endpoint,

looking at the endpoint this should be either `https://api.exoscale.com/v1` or `https://api.exoscale.com/compute`. You can actually open this in your browser to check, the response should look like

[code]

[2022-02-09 08:23] John222 commented on #95
Thank you for the quick reply. I'll try it out and come back to you. 👍😃

[2022-02-09 08:24] resmo commented on #95
That said, you reminded me to publish my  role for managing exoscale resources. Long overdue. Expect it to be released today.

[2022-02-09 09:10] John222 commented on #95
Hello Rene. It worked. Thank you for the hint. :).

[2022-02-09 09:10] #95 closed

[2022-03-03 12:37] John222 opened #96 "IPv6 by default when creating an instance"
Hello @resmo

is it possible to deploy a machine with ```ipv6``` enabled by default? I couldn't find an option to activate it within the ```ngine_io.cloudstack.cs_instance```. Within the exoscale web ui there is a checkbox tick to enable it by default.

[2022-03-03 13:46] resmo commented on #96
These modules are primary targeted to apache cloudstack's API.

Exoscale extended the cloudstack API in a custom way. The optional extended custom param would be `ipv6=true` which defaults to `false` (as well as ipv4 which defaults to `true` and is not changeable).

I remember discussing this with exoscale and my suggestion at that time was to use the details param, which is explicitly there to pa

[2022-03-03 14:36] resmo commented on #96
ah, found it, it works with the `v` just `ip6`

- name: Create VM with IPv6 enabled
  ngine_io.cloudstack.cs_instance:
    name: my VM
    details:
      ip6: true
    ...

[2022-03-03 14:48] #96 closed

[2022-03-03 16:28] John222 commented on #96
Hello @resmo it did not worked. It seems, it gets ignored.

[2022-03-03 17:42] resmo commented on #96
please share more infos, did you deploy a fresh vm? update vm? playbook?

[2022-03-03 17:45] John222 commented on #96
I were deploying a new vm. As you mentioned i will try with the '''ip6''' instead the '''ipv6''' parameter.

[2022-03-03 20:58] John222 commented on #96
Good evening @resmo

by changing the parameter to ```ip6``` worked. By deploying a new instance. It will not work for existing instances.

[2022-03-03 21:33] John222 commented on #96
Good evening @resmo another parameter which seems not to work is the ```disk_size``` parameter. It does not have an effect how large the disk will be. It takes the disk size value from the service offering.

[2022-03-04 07:19] John222 opened #97 "disk_size parameter for cs_instance not working"
Hello @resmo

it seems that disk_size parameter for ngine_io.cloudstack.cs_instance is not working. The disk size is always based on the service offering which have been choosen for the server.

[2022-03-04 09:01] resmo commented on #97
Please check the docs and (hint, hint) use or see my exoscale role how params make sense in context of exoscale. you probably looking for https://docs.ansible.com/ansible/latest/collections/ngine_io/cloudstack/cs_instance_module.html#parameter-root_disk_size

[2022-03-10 16:21] #93 closed

[2022-05-06 15:49] dmsimard opened #98 "Sanity tests failing in ngine_io.cloudstack"
##### SUMMARY
We are running sanity tests across every collection included in the Ansible community package (as part of [this issue](https://github.com/ansible-community/community-topics/issues/96)) and found that ``ansible-test sanity --docker`` against ngine_io.cloudstack 2.2.3 fails with ansible-core 2.13.0rc1 in ansible 6.0.0a2.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
n/a

##### A

[2022-05-21 08:44] #97 closed

[2022-05-21 16:39] rvalle opened #100 "cs_instance pod and cluster selection"
I noticed that the UI allows for optionally selecting Pod and Cluster when creating a new instance.

Is that possible with ansible?

I cannot see any parameter in the documentation, except perhaps details for custom parameters.

Is that functionality missing?

[2022-05-22 08:23] resmo commented on #100
Hi @rvalle
The api was extended in http://docs.cloudstack.apache.org/en/4.13.0.0/releasenotes/api-changes.html, this is not yet implemented but shouldn't be too much work.

[2022-05-31 09:00] stardom3645 opened #104 "cs_instance -> ssh_key doesn't work"
- ISSUE TYPE
  - Bug Report

- EVN
cloudstack: 4.16
ansible: core 2.12.2
ngine_io.cloudstack: 2.2.4
cs: 3.0.0

- SUMMARY
I tried to deploy instance with ssh_key
but it(using cs module) did not write Public key on "~/.ssh/authorized_keys"
I tested with the same ssh_key with cloudstack(using UI), and it worked well.

Everything seemed fine on Cloudstack but "~/.ssh/authorized_keys" file is empty.
![

[2022-05-31 09:17] rvalle commented on #104
@stardom3645 please note that when creating an instance you pass the name of the ssh key, then there is another module to create the ssh key in ACS.

[2022-05-31 15:54] stardom3645 commented on #104
@rvalle  This is the ansible code what i ran.
[code]

Thank you for your sincerity, but the second answer is difficult to understand.
are there any restrictions I should be aware of?

[2022-06-01 06:04] rvalle commented on #104
@stardom3645 You have to check that the entry with name "deployed-vm2" exists in the UI in Compute/SSH Key Pairs.

Or you can use the module cs_sshkeypair before the cs_instance to ensure it is there.

It is technically possible that the centos8.5-0525 template is not ready to take the ssh key, but you mentioned that launching the image in the UI works, I assume you are using the same template. So

[2022-06-01 06:11] resmo commented on #104
this does not look like a bug on ansible side. ssh key gets configured in the api.

How the key gets into your VM really depends on the implementation of the VM template.

1. is this your cloudstack on premise or a public cloud provider using cloudstack?
2. if on premise, did you implement a ssh key management into your template like so http://docs.cloudstack.apache.org/en/latest/adminguide/virtua

[2022-06-01 13:53] stardom3645 commented on #104
@resmo @rvalle Thank you for reply.

I tried everything you mentioned.

Under the same conditions(template, ssh_key and everything else) it worked from CloudStack-UI but did not work from Playbook-cs module (the public key was not registered in the "~/.ssh/authorized_keys" file.)

After that, I ran the tests and found the cause of the problem.

- existing ansible-playbook
  - deploy vm with ssh_ke

[2022-06-02 08:07] rvalle commented on #104
@stardom3645 there must be something else. the modules use the same API as the UI.
I have environments with 100s of VMs, and I don't need to wait after any module, it is actually very reliable.

[2022-06-12 15:49] rvalle opened #106 "Inventory plugin group by VPC"
The inventory plugin documentation states that it is possible to filter instances by VPC,

However, it does not seem possible to group instances by VPC.

Is it possible?

[2022-06-12 16:15] rvalle commented on #106
I think this is because the API allows to filter by VPC, but does not return VPC information in the instance, which seems odd.

[2022-06-13 06:31] rvalle commented on #106
Without having this information returned by the API an implementation would be a very nasty workaround that would break the inventory plugin architecture. So, I have asked for that information returned by the API and then we will be able to cleanly implement in the inventory plugin:

https://github.com/apache/cloudstack/issues/6452

Meanwhile a viable workaround is to have 2  inventory files (usin

[2022-06-20 16:26] rvalle commented on #106
thanks  @Pearl1594  for implementing this.

[2022-07-04 12:15] #98 closed

[2022-07-13 06:14] #104 closed

[2022-07-13 21:15] rvalle opened #108 "Cannot forward port in VPC tier to VM secondaray NIC"
I am not sure what is going wrong, I try to make this port forward in the UI and works.

As far as I understand when forwarding ports to secondary NIC the secondary IP of the VM needs to be specified, like so:

[code]

vm_guest_ip belongs to network frontend3 but that is on secondary NIC for ft1c vm. In the UI I set similar parameters and works.

I get the following error:
An exception occurred du

[2022-07-13 21:42] resmo commented on #108
related code:
https://github.com/ngine-io/ansible-collection-cloudstack/blob/6da2b067658fafb6702153195c1def4dd4fe4bc5/plugins/module_utils/cloudstack.py#L408

[2022-07-14 06:59] rvalle commented on #108
I think it is looking for a secondary IP on the default NIC, however the use case is the ip of a non default NIC.
I am not sure of what is the casuistic that should be supported. perhaps ANY ip primary or secondary of any interface should be allowed?

[2022-07-27 16:33] Pearl1594 commented on #108
I believe it is not possible to add a port forward rule to the secondary NIC. Trying it directly via Cloudstack i.e, on trying to add a port-forward rule for the primary IP on the secondary nic fails with the following error:
[code]
However, there does exist an issue with creating a PF rule on the primary IP of the default NIC as well.

[2022-08-30 10:27] toonvd opened #111 "Not all details should be required on custom service offerings"
Some hosting providers want to force a fixed cpu_speed for example.
At the moment this results in being unable to deploy a new VM.

Ansible:
[code]

Cloudstack:
[code]

It seems this is a mismatch between CloudStack capabilities and this collection:

https://github.com/ngine-io/ansible-collection-cloudstack/blob/44f183c1eaec14d422216b3787dcbdd98ceabb36/plugins/modules/cs_instance.py#L1111

[2022-08-31 05:35] resmo commented on #111
Hi @toonvd, can you share details which cloudstack version this is related to?

[2022-08-31 07:34] savvii-runner commented on #111
Hi

[code]

This has to do with `custom constrained` service offerings. Image below.

![image](https://user-images.githubusercontent.com/112495382/187619871-05aa6611-2cf3-4ee4-8005-c08746cf5358.png)

[2022-08-31 07:36] toonvd commented on #111
Hi

`"cloudstackversion": "4.16.1.1"`

This has to do with custom constrained service offerings. Image below.
![image](https://user-images.githubusercontent.com/1227745/187620337-8903a2ce-4322-4c09-b2b3-6b4bbad1c0a2.png)

[2022-09-09 13:36] rvalle opened #112 "Debug Instance Changes"
I don't believe my playbook is attempting any changes on some instances: yet I get this message on some:
[code]
Is there any way I can debug which changes is Ansible trying to apply?

[2022-09-09 13:42] resmo commented on #112
should be one or more of these https://github.com/ngine-io/ansible-collection-cloudstack/blob/master/plugins/modules/cs_instance.py#L856

[2022-09-23 06:39] rvalle commented on #112
well... this is what happened.

I modified instances by hand....
When I got the warnings I modified the playbooks to match the UI changes, as I did not want to restart the instances, but the warning would persist in subsequent runts.

Now the warnings just vanished.

It feels like there is some kind of state kept somewhere.

I will try to watch closely next time this use case takes place.

[2022-09-23 06:55] resmo commented on #112
did you use the dynamic inventory?

[2022-09-23 08:28] rvalle commented on #112
Yes, I have dynamic inventory. The Plugin:

[code]

how would this affect the issue?

somewhere there seems to be some state, or mark that the instance has changed, or pending changes to apply or something.

[2022-09-23 09:13] resmo commented on #112
then there is facts caching but that should not be involved.

[2022-09-23 10:08] rvalle commented on #112
Ok, I will review a bit more. Once I had troubles with fact caching.... but not sure what about. :)